.btn {
  padding: .5em 1em;
  border: none;
  color: green;
  cursor: pointer;
}

.done-btn, .erase-btn {
  padding: .5em;
  border: none;
  cursor: pointer;
}

.done-btn {
  color: green;
  margin-right: .5em;
}

.erase-btn {
  color: red;
}