@import '../base/base.css';

.todo-btn {
  font-weight: 500;
  color: var(--clr-secondary-700);
  cursor: pointer;
}

.done-btn, .erase-btn {
  cursor: pointer;
}

.done-btn {
  font-weight: 700;
  color: var(--clr-secondary-700);
  margin-right: .5em;
}

.erase-btn {
  color: var(--clr-secondary-500);
}