.wrapper {
  padding: 0 1em;
  max-width: 60em;
  margin-inline: auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 2px solid blue;
}

header {
  text-align: center;
  padding: 1em;
}

form[data-js="form"] {
  display: flex;
  flex-flow: column wrap;
  padding: 1em;

  & p {
    margin-bottom: .5em;
  }

  & .form-control {
    display: flex;
    align-items: center;
  }
}

div.list {
  padding: 1em;
  user-select: none;
  display: flex;
  align-items: center;

  & .item {
    border: 1px solid #ccc;
    padding: .25em .5em;
    flex: 1;
  }
}