@import '../base/base.css';

header {
  padding: 1em;

  & h1 {
    font-weight: 700;
  }
}

.wrapper {
  font-family: var(--ff-base);
  padding: 0 1em;
  max-width: 60em;
  margin-inline: auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


  @media screen and (min-width: 60em) {
    min-width: 50em;
  }

}

form[data-js="todo-container"],
form[data-js="search-container"] {
  display: flex;
  flex-flow: column wrap;  
  padding: 1em;

  & div .btn {
    & i {
      pointer-events: none;
    }
  }
}

div.list {
  padding: 1em;
  user-select: none;
  display: flex;
  flex-flow: column wrap;

  & .done {
    background: var(--clr-primary);
    text-decoration: line-through;
    font-style: italic
  }

  & .todo {
    justify-content: space-around;
    align-items: center;
    padding: .75em 1.25em;
    margin: .5em 0;
    border: 1px solid #ccc;

    @media screen and (min-width: 60em) {
      justify-content: center;
    }

    & .item {
      flex: 1;
      margin-right: .5em;
    }
    
    & .erase-btn, .done-btn {
      @media screen and (min-width: 60em) {
        padding: .75em;
      }

      & i {
        pointer-events: none;
        margin: 0 .25em;
      }
    }
  }  
}